<h2>Add Project</h2>

<form method="POST" class="form-horizontal" role="form">
  <div class="form-group">
    <label for="title">Title*</label>
    <input type="text" class="form-control required" id="title" name="title" placeholder="Title" value="" />
    <div class="alert alert-error" style="display: none">Please insert the title </div> 
  </div>

  <div class="form-group">
    <label for="url">url*</label>
    <input type="text" class="form-control required" id="url" name="url" placeholder="http://www.example.com" value=""/>
    <div class="alert alert-error" style="display: none">Please insert the url</div> 
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="Description" name="Description" placeholder="Description" value=""/>
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control" id="image" name="image"/>
  </div>

  <div class="alert alert-error" style="display: none">Please insert all the required information </div> 
  <button type="submit" id="target" class="btn btn-default">Submit</button>

</form>