body {
	font: 300 15px/1.4 "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.wrapper {
	max-width: 1050px;
	margin: 0 auto;
	overflow:hidden;
}

.content-wrapper {
	min-height: 600px;
}

.header {
	background-color: #CCC;
	height: 60px;
}

.header .wrapper {
	padding: 15px;
	font-size: 1.7em;
}

.submenu {
	background-color: rgb(68, 68, 68);
	overflow:hidden;
}

.submenu-list li {
	float: left;
	padding: 5px 40px 5px 0;
	font-size: .9em;
}

.submenu-list a {
	color: #CECECE;
}

.submenu-list a.active {
	color: #FFF;
}

h2.title {
	margin: 0 0 5px;
	font-weight: 200;
	font-size: 1.3em;
	line-height: 1.2em;
}

.project {
	max-width: 450px;
	min-width: 300px;
	margin: 0 50px 20px 0;
	padding: 5px 10px 5px 0;
}

.project-content {
	width: 45%;
	padding-right: 5%;
}

.project-img {
	width: 50%;
}

.project-img img {
	width: 100%;
}

form input, form textarea {
	display: block;
	width: 250px;
	padding: 7px 5px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	border-radius: 3px;

	  -webkit-transition: all 0.30s ease-in-out;
	  -moz-transition: all 0.30s ease-in-out;
	  -ms-transition: all 0.30s ease-in-out;
	  -o-transition: all 0.30s ease-in-out;
	  outline: none;
}

form input.invalid {
	border-color: red;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border-color: rgba(81, 203, 238, 1);
}


/* FOOTER */

.footer {
	clear: both;
	padding: 10px 0;
	background: #ECECEC;
	border-top: 1px solid #CCC;
}

.footer .grid {
	width: 33%;
}
