<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Porfolio Marije Rooze</title>
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>

	<div class='header'> 
		here some general information
	</div>

	<div class="content-wrapper">
    	{{{body}}}
    </div>

</body>
</html>